streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
faiss-cpu
sentence-transformers
python-dotenv
pypdf
docx2txt
beautifulsoup4
requests
gtts
audio-recorder-streamlit
faiss-cpu